common --enable_bzlmod
common --enable_platform_specific_config
common --lockfile_mode=error
common:lock_update --lockfile_mode=update
build --incompatible_strict_action_env
test --test_output=errors

build:macos --repo_env=BAZEL_USE_CPP_ONLY_TOOLCHAIN=1
build:macos --repo_env=CC=/Library/Developer/CommandLineTools/usr/bin/clang
build:macos --macos_minimum_os=10.15
build:macos --copt=-isysroot
build:macos --copt=/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk
build:macos --linkopt=-isysroot
build:macos --linkopt=/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk
